@using CRUDDemo.Entity.Product

@model ProductModel
@{
    ViewBag.Title = "Create";
}

<form action="@Url.Action("Create", "Product")" method="post">
    <div class="row">
        <div class="col-lg-10">

            <div class="col-lg-12" style="margin-bottom:20px;">
                <div class="col-lg-2">
                    @Html.DisplayNameFor(x => x.ProductName)
                </div>
                <div class="col-lg-6">
                    <input id="@Html.IdFor(x => x.ProductName)" name="@Html.IdFor(x => x.ProductName)"/>
                </div>
            </div>

            <div class="col-lg-12" style="margin-bottom:20px;">
                <div class="col-lg-2">
                    @Html.DisplayNameFor(x => x.Price)
                </div>
                <div class="col-lg-6">
                    <input id="@Html.IdFor(x => x.Price)" name="@Html.IdFor(x => x.Price)" type="number"/>
                </div>
            </div>

            <div class="col-lg-12" style="margin-bottom:20px;">
                <div class="col-lg-2">
                    @Html.DisplayNameFor(x => x.Description)
                </div>
                <div class="col-lg-6">
                    <input id="@Html.IdFor(x => x.Description)" name="@Html.IdFor(x => x.Description)"/>
                </div>
            </div>

            <div class="col-lg-12" style="margin-bottom:20px;">
                <div class="col-lg-2">
                    <button class="btn-primary">
                        新增
                    </button>
                </div>
            </div>

        </div>
    </div>
</form>