@using CRUDDemo.Entity.Product

@model ProductModel
@{
    ViewBag.Title = "GetById";
}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
</head>

<div style="margin-bottom:20px;">
    <label>請輸入ID</label>
    <input id="productId" />
    <button class="btn-primary" onclick="Serach()">搜尋</button>
</div>

<div class="row">
    <div class="col-lg-10">

        <div class="col-lg-12" style="margin-bottom:20px;">
            <div class="col-lg-2">
                @Html.DisplayNameFor(x => x.Id)
            </div>
            <div class="col-lg-6">
                <input name="edit_Id" readonly />
            </div>
        </div>

        <div class="col-lg-12" style="margin-bottom:20px;">
            <div class="col-lg-2">
                @Html.DisplayNameFor(x => x.ProductName)
            </div>
            <div class="col-lg-6">
                <input name="edit_ProductName" />
            </div>
        </div>

        <div class="col-lg-12" style="margin-bottom:20px;">
            <div class="col-lg-2">
                @Html.DisplayNameFor(x => x.Price)
            </div>
            <div class="col-lg-6">
                <input name="edit_Price" type="number" />
            </div>
        </div>

        <div class="col-lg-12" style="margin-bottom:20px;">
            <div class="col-lg-2">
                @Html.DisplayNameFor(x => x.Descirption)
            </div>
            <div class="col-lg-6">
                <input name="edit_Descirption" />
            </div>
        </div>

        <div class="col-lg-12" style="margin-bottom:20px;">
            <div class="col-lg-2">
                @Html.DisplayNameFor(x => x.CreateDatetime)
            </div>
            <div class="col-lg-6">
                <input name="edit_CreateDatetime" readonly />
            </div>
        </div>

        <div class="col-lg-12" style="margin-bottom:20px;">
            <div class="col-lg-2">
                @Html.DisplayNameFor(x => x.UpdateDateTime)
            </div>
            <div class="col-lg-6">
                <input name="edit_UpdateDateTime" readonly />
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-lg-3" style="margin-bottom:20px;">
                <div class="col-lg-6">
                    <button class="btn-primary" onclick="Edit()">
                        編輯
                    </button>
                </div>
            </div>

            <div class="col-lg-3" style="margin-bottom:20px;">
                <div class="col-lg-6">
                    <button class="btn-danger" onclick="Delete()">
                        刪除
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function Serach() {
        var productId = $("#productId").val();
        $.ajax({
            url: "@Url.Action("GetById", "Product")",
            type: "Post",
            data: { "id": productId},
            success: function (result) {
                $("input[name='edit_Id']").html(result.Id);
                $("input[name='edit_ProductName']").html(result.ProductName);
                $("input[name='edit_Price']").html(result.Price);
                $("input[name='edit_Descirption']").html(result.Descirption);
                $("input[name='edit_CreateDatetime']").html(moment(result.CreateDatetime).format("YYYY-MM-DD"));
                $("input[name='edit_UpdateDateTime']").html(moment(result.UpdateDateTime).format("YYYY-MM-DD"));
            },
            error: function (xhr, status, error) {
                console.log("Error: " + error);
            }
        });
    }

    function Edit() {
        var id = $("input[name='edit_Id']").val();
        var productName = $("input[name='edit_ProductName']").val();
        var price = $("input[name='edit_Price']").val();
        var descirption = $("input[name='edit_Descirption']").val();
        var createDatetime = $("input[name='edit_CreateDatetime']").val();
        var updateDateTime = $("input[name='edit_UpdateDateTime']").val();
        var productModel = {
            "Id" : id,
            "ProductName" : productName,
            "Price" : price,
            "Description" : descirption,
            "CreateDatetime" : createDatetime,
            "UpdateDateTime" : updateDateTime
        };

        $.ajax({
            url: "@Url.Action("Edit", "Product")",
            type: "Post",
            data: productModel,
            success: function (result) {
                $("input[name='edit_Id']").html(result.Id);
                $("input[name='edit_ProductName']").html(result.ProductName);
                $("input[name='edit_Price']").html(result.Price);
                $("input[name='edit_Descirption']").html(result.Descirption);
                $("input[name='edit_CreateDatetime']").html(moment(result.CreateDatetime).format("YYYY-MM-DD"));
                $("input[name='edit_UpdateDateTime']").html(moment(result.UpdateDateTime).format("YYYY-MM-DD"));
                alert("編輯成功");
            },
            error: function (xhr, status, error) {
                console.log("Error: " + error);
            }
        });
    }

    function Delete() {
        var id = $("input[name='edit_Id']").val();

        $.ajax({
            url: "@Url.Action("Delete", "Product")",
            type: "Post",
            data: { "id": productId },
            success: function (result) {
                alert("刪除成功");
                window.location.reload();
            },
            error: function (xhr, status, error) {
                console.log("Error: " + error);
            }
        });
    }
</script>